<div class="containerr">
    <nav class="navbar navbar-inverse" fxFlex = '100'>
        <div class="main" fxFlex='20'>
            <h1>Concentric </h1>
        </div>
        <div class="main1" fxFlex='80'>
            <ul class="navv" fxLayoutAlign="space-around center">
                <li>Home</li>
                <li>Dropdown</li>
                <li>Leftsidebar</li>
                <li>Rightsidebar</li>
                <li>Twosidebar</li>
                <li>Nosidebar</li>
            </ul>
        </div>
    </nav>    
</div>
